In [1]:
import pandas as pd
from fugue_sql import fsql

In [3]:
df = pd.read_csv('../pandas/Pandas-Demo/Data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv("../pandas/Pandas-Demo/Data/survey_results_schema.csv", index_col='Column')

In [13]:
dataFrame = pd.DataFrame()

In [18]:
type(dataFrame)

pandas.core.frame.DataFrame

In [19]:
type(df)

pandas.core.frame.DataFrame

In [7]:
pd.set_option("display.max_columns", 5)

In [8]:
df.head()

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [22]:

query = """SELECT Hobbyist FROM df
           PRINT
    """

In [24]:
# fsql(query).run()